 @media (max-width: 768px) {

  /* Header */
  .outerDiv {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo1 {
    flex-direction: column;
    align-items: flex-start;
  }

  .Navlink {
    display: flex;
    flex-wrap: wrap;
  }

  .logo2 {
    margin-top: 10px;
  }

  /* Form */
  .input-field1,
  .input-field2 {
    flex-direction: column;
  }

  .para {
    flex-direction: column;
  }

  /* Footer */
  .footerhead {
    flex-direction: column;
  }

  .footerin {
    flex-direction: column;
    gap: 10px;
  }
}