 #div1{
    width:200px ;
    margin:auto;
    border: 1px solid rgb(106, 239, 106);
    height: 300px;
    color: blueviolet;
    transition: transform 2s linear;
 }
 #div1:hover{
/* transform: rotateZ('angle'); */
 /* transform: rotateZ('3600dg'); */
/* transform: scale('1.5,1.2'); */

/* transform: skew(45deg); */

transform: translate(50px);
 }